@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.jalan {
    font-family: 'yg-jalnan';
}

.Gmarket {
    font-family: 'GmarketSansLight';
}

.main {
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.logo {
    margin-top: 0px;
    margin-bottom: 40px;
    background-color: rgb(48, 206, 153);
    padding:70px;
}

#login {
    width: 100%;
    background-color: rgb(48, 206, 153);
    border-color: transparent;
    color: white;
    margin-bottom:0;
    margin-top:0;
}

.account {
    display: block;
    margin-bottom: 3px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#alert {
    border-color: transparent;
}
